# Build directory

build/*
!build/.gitkeep

# compilation configs
.clangd

# lsp configs

compile_commands.json

# other lsp files

.cache/

# Object files

*.o
*.obj

# Dependency files

*.d

# Static libraries

*.a

# Linker and listing outputs

*.map
*.lst

# Firmware images

*.elf
*.axf
*.bin
*.hex

# Logs

*.log

# Temporary editor files

*~
*.swp
*.swo

# Core dumps

core
core.*

# OS files

.DS_Store
Thumbs.db
