# Select the debugger interface
# stlinkv1 and stlinkv2 supported
source [find interface/stlink.cfg]

# Select the transport protocol
transport select hla_swd

# Select the target MCU family
# targets stm32f411xx
source [find target/stm32f4x.cfg]

# Configure clock speed to 2000 Khz
adapter speed 2000

# Configure reset behavior
# srst_only indicates we don't have a dedicated hardware reset line connected,
# so OpenOCD will use software system reset via SWD (connect_assert_srst).
reset_config srst_only connect_assert_srst
